<!DOCTYPE html>
<html lang="en">
<head>
  <title>Datos Generales</title>
</head>
<body>

<div class="container">
  <div class="row row-cols-1">
    <div class="col">
      <div class="input-group mb-3">
        <label for="">Correo Electronico&nbsp;&nbsp;</label>
        <input type="text" placeholder="Direcci&oacute;n:" [(ngModel)]="email">
        <label for="">&nbsp;&nbsp;Pagina Web&nbsp;&nbsp;</label>
        <input type="text" placeholder="Direcci&oacute;n:"/>
     </div>
    </div>
    <div class="col">

      <label for="exampleFormControlTextarea1">Comentario</label>
      <textarea id="exampleFormControlTextarea1" rows="3"></textarea>

    </div>
  </div>
</div>

</body>
</html>
